<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.ur.kulturalia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ikona"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainDonors">
            android:parentActivityName="pl.edu.ur.kulturalia.Home" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.ur.kulturalia.MainDonors" />
        </activity>
        <activity android:name=".Sponsorzy">
            android:parentActivityName="pl.edu.ur.kulturalia.MainDonors" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.ur.kulturalia.Sponsorzy" />
        </activity>
        <activity android:name=".Organizatorzy">
            android:parentActivityName="pl.edu.ur.kulturalia.MainDonors" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.ur.kulturalia.Organizatorzy" />
        </activity>
        <activity android:name=".Patronaty_honorowe">
            android:parentActivityName="pl.edu.ur.kulturalia.MainDonors" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.ur.kulturalia.Patronaty_honorowe" />
        </activity>
        <activity android:name=".Patroni_medialni">
            android:parentActivityName="pl.edu.ur.kulturalia.MainDonors" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.ur.kulturalia.Patroni_medialni" />
        </activity>
        <activity android:name=".Events"></activity>
        <activity android:name=".Autorzy"></activity>
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Harmonogram"
            android:label="@string/title_activity_harmonogram"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.ur.kulturalia.MainActivity" />
        </activity>
        <activity android:name=".Dojazd"></activity>
        <activity android:name=".WeatherActivity"></activity>
    </application>

</manifest>
